<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finding friends</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/switch.css">
    <link rel="stylesheet" href="/static/css/styles.css">  
  </head>
  <body>

    <div class="jumbotron vertical-center" id="logo_div">
      <div class="container-fluid" id="header">
      </div>
    </div>

    <div id="global_div">

      <div class="container" id = "query_container">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search query or user link" id="query_text">
          <div class="input-group-btn">
            <button class="btn btn-default" id="query_submit_btn">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div id="filter_div" class = "container">
        <div class="container">
          <label class="switch" onchange="$('#filter_panel').collapse('toggle');">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>

        <div id="filter_panel" class="collapse">
          <div class="input-group">
            <span class="input-group-addon">Age</span>
            <div class="row">
                <div class="form-group col-xs-6">
                    <input id="age_from" class="form-control input-group-lg" type="text" name="age_from" placeholder="16"/>
                </div>

                <div class="form-group col-xs-6">
                    <input id="age_to" class="form-control input-group-lg" type="text" name="age_to" placeholder="99"/>
                </div>
            </div>
          </div>

          <div class="input-group">
            <span class="input-group-addon">City</span>
            <input type="text" class="form-control" placeholder="Saint-Petersburg" name="city" id="city">
          </div>

          <form>
            <div class="form">
              <label for="sel1">Select status:</label>
              <select class="form-control" id="sel1">
                <option>Not married </option>
                <option>In a relationship </option>
                <option>Engaged </option>
                <option>Married</option>
                <option>It's complicated</option>
                <option>Actively searching</option>
                <option>In love</option>
              </select>
            </div>
          </form>

        </div>
      </div>

    </div>

    <div id="search_div" style="display:none" class="row">
      <div class="col-xs-6">
        <table id="search_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
              <tr>
                  <th>Score</th>
                  <th>Photo</th>
                  <th>Information</th>
                  <th>Feedback</th>
              </tr>
          </thead>
        </table>
      </div>
      <div class="col-xs-6">
        <div id="topics_wrapper">
        </div>
      </div>
    </div>



    <footer>
      <p id="footer_text">&copy; Myrov Vladislav and Sosin Ivan, 2017, https://github.com/Vlad0922/finding_friends</p>
    </footer>

    <!-- libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <srcipt src="https://cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></srcipt> -->


   <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
 -->
    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/utility.js"></script>
    
  </body>
</html>
