<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Finding friends</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">

  </head>
  <body>

    <div class="jumbotron vertical-center">
      <div class="container-fluid" id="header">
      </div>
    </div>

    <div class="form-group" id="query_form">
      <label for="search_query">Search query or user link:</label>
      <input type="text" class="form-control" id="search_query">
    </div>

    <footer>
      <p>&copy; Myrov Vladislav and Sosin Ivan, 2017, https://github.com/Vlad0922/finding_friends</p>
    </footer>

    <!-- libraries -->
<!--     <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
 -->
    <script src="/static/js/socket.io.min.js"></script>
    <!-- <script src="/static/js/utility.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
