#logo_div {
  background: #fff url("Friends_logo.svg") no-repeat center center;
  background-size: auto 100%;
}

#topics_wrapper {
    min-height:100%;
    height:100%
}

#footer_text {
	text-align: right;
	margin-right: 5%;
}

#global_div
{
	margin-auto;
}

#search_div 
{
	margin-left: 5%;
}

#filter_div
{
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
    right: 0px;
}

#query_container
{
	margin: auto;
	position: relative;
    right: 0px;
}

td { white-space:pre }

.table-striped tbody tr.highlight td { 
	background-color: rgba(80, 200, 180, 0.3); 
}
